@import "tailwindcss";


:root {
  --color-bg: #bcbdb87a;            /* Light background */
  --color-text: #0F172A;          /* Dark text */
  --color-accent: #0F172A;        /* Black accent in light mode */
  --color-accent-hover: #334155;  /* Hover */
  --color-muted: #6B7280;         /* Secondary text */
  --color-border: #E5E7EB;
  --cut: 30px;
}

.dark {
  --color-bg: #0B1120;           /* Deep Navy background (matches Screenshot 2) */
  --color-text: #FAFAFA;         /* Light text */
  --color-accent: #FAFAFA;       /* White accent in dark mode */
  --color-accent-hover: #D4D4D8; /* Hover */
  --color-muted: #9CA3AF;        /* Muted text */
  --color-border: #1F2937; 
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-bg: #0B1120;           /* Deep Navy background */
    --color-text: #FAFAFA;         /* Light text */
    --color-accent: #FAFAFA;       /* White accent in dark mode */
    --color-accent-hover: #D4D4D8; /* Hover */
    --color-muted: #9CA3AF;        /* Muted text */
    --color-border: #1F2937; 
  }
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-fira: var(--font-fira);
  --font-jetbrains: var(--font-jetbrains);
  --font-source-code: var(--font-source-code);
  --font-roboto-mono: var(--font-roboto-mono);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-50% - 0.75rem)); } /* Accounts for gap-6 (1.5rem) divided by 2 */
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  display: flex;
  width: max-content;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
